{% extends 'front/layout.html.twig' %}

{% block title %}
	Les enjeux de la formation


{% endblock %}
{% block description %}{% endblock %}

{% block content %}
	{% block banner %}
		<div id="banner-area" class="banner-area" style="background-image:url({{ asset('build/images/conduite.jpg') }}); background-position: 30% 30%;">
			<div class="banner-text">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="banner-heading">
								<h1 class="banner-title">
									Les enjeux de la formation
								</h1>
							</div>
						</div>
						<!-- Col end -->
					</div>
					<!-- Row end -->
				</div>
				<!-- Container end -->
			</div>
			<!-- Banner text end -->
		</div>
		<!-- Banner area end -->

	{% endblock %}
	<section class="section-padding">
		<div class="container">
			<p>Notre établissement d’apprentissage propose une formation de qualité, car au-delà du plaisir qu’apporte la conduite d’un véhicule à moteur, la conduite permet surtout quel que soit le profil du candidat d’acquérir une autonomie.</p>
			<p>L’automobile est devenue un outil social indispensable. En effet, la mobilité est indispensable quel que soit son moteur. Que ce soit pour la pratique d’activités loisirs tel que le sport, pour le travail, les études ou pour des raisons familiales, l’utilisation d’un véhicule est devenue indispensable. Ainsi le partage de la chaussée nous concerne tous.</p>
			<p>Rouler en sécurité est donc nécessaire pour tous. Les conducteurs débutants représentent une part importante des tués et des blessés sur la route.</p>
			<p>Les accidents de la route ne sont en aucun cas la conséquence de la fatalité, la chance ou la malchance. Ainsi afin de permettre à nos jeunes conducteurs de se déplacer avec un risque plus faible un nouveau programme de formation a été mis en place.</p>
			<p>Ainsi ce nouveau programme REMC a pour objectif général d’amener tout automobiliste débutant à la maitrise de compétences en termes de savoir-être, savoir-faire et savoir-devenir.</p>
			<p>Ainsi les formateurs enseignants diplômés ont pour rôle d’accompagner l’apprenant dans cette démarche éducative donc pédagogique.</p>
			<div class="row mt-5">
				<div class="col-sm-6">
					<h3>Il existe 8 enjeux majeurs :</h3>
					<ol>
						<li>L’accidentalité liée à l’usage de deux-roues motorisés.</li>
						<li>La sécurité des usagers vulnérables que sont les piétons et deux-roues.</li>
						<li>La lutte contre l’usage de substances psychoactives (stupéfiants, alcool) associé à la mobilité.</li>
						<li>La poursuite de la baisse des vitesses moyennes enregistrées.</li>
						<li>La mobilité durable et citoyenne.</li>
						<li>Le risque routier professionnel.</li>
						<li>Le vieillissement de la population.</li>
						<li>Les limites liés aux conducteurs.</li>
					</ol>
				</div>
				<div class="col-sm-6">
					<h3>Evaluation préalable. :</h3>
					<p>En préalable à la formation, une évaluation de niveau sera effectuée par le biais d’exercices interactifs sur ordinateur.</p>
					<p>Les aptitudes cognitives évaluées sont :</p>
					<ol>
						<li>Les capacités et connaissances sensori-motrice.</li>
						<li>Les capacités de compréhension et de traitement.</li>
						<li>Les aspects émotionnels.</li>
						<li>Les facteurs de volonté.</li>
						<li>La capacité de perception, d’analyse et de décision.</li>
						<li>La capacité d’attention et de mémoire de travail.</li>
					</ol>
					<p>Suite à ces exercices, un volume d’heures prévisionnelles sera déterminé.</p>
				</div>
			</div>
			<div>
				<h3>Le Programme de formation.</h3>
				<p>Au travers de ce programme, le candidat comprendra les règles du code de la route mais aussi l’influence des lois physiques, psychologiques et physiologiques.</p>
				<p>Des cours théoriques et pratiques, collectifs ou individuels, vous aideront les candidats à atteindre les compétences définies et à personnaliser sa progression.</p>
			</div>
			<div class="mt-5">
				<h2>L’EPREUVE THEORIQUE GENERALE (LE CODE DE LA ROUTE)</h2>
				<p>Pour passer l’épreuve du code, il faut avoir au moins 17 ans si vous suivez la formation traditionnelle, ou 15 ans si vous suivez l’apprentissage anticipé de la conduite (AAC).</p>
				<p>Pour réussir cette épreuve, il faut obtenir au moins 35 bonnes réponses sur 40 questions (5 erreurs maximum). Une réponse est considérée comme juste si toutes les propositions exactes ont été validées.</p>
				<p>Parmi les 40 questions auxquelles vous devrez répondre, certaines sont en vidéo. Pendant le déroulé de la vidéo, pensez à évaluer l’intervalle de sécurité et à regarder tous les rétroviseurs.</p>
				<p>Le jour de l’examen, pensez à apporter votre pièce d’identité et votre convocation.</p>
				<p>Votre code est valable pendant 5 ans et/ou pour 5 présentations à l’épreuve pratique.</p>
			</div>
			<div class="mt-5">
				<h2>L’EPREUVE PRATIQUE</h2>
				<p>
					<strong>Pour se présenter à l’épreuve pratique il faut avoir au moins 18 ans ou 17 ans et demi si vous suivez l’AAC ; il faut avoir réussi l’examen du code.</strong>
				</p>
				<p>Cette épreuve dure environ 32 minutes. Elle a pour but de vérifier si vous êtes capable de conduire seul sans mettre en danger votre sécurité et celle des autres. Elle est évaluée par un expert, l’inspecteur du permis de conduire et de la sécurité routière.</p>
				<p>Le jour de l’examen, l’épreuve vous est présentée individuellement par l’expert, qui vous précise ce que vous allez devoir faire :</p>
				<ul>
					<li>réaliser un parcours empruntant des voies à caractère urbain, routier et /ou autoroutier ;</li>
					<li>suivre un itinéraire en vous guidant de manière autonome, pendant environ cinq minutes ;</li>
					<li>réaliser deux manœuvres différentes, un freinage pour un arrêt de précision et une manœuvre en marche arrière ;</li>
					<li>procéder à la vérification d’un élément technique à l’intérieur ou à l’extérieur du véhicule, répondre à une question en lien avec la sécurité routière, et répondre à une question sur les premiers secours ;</li>
					<li>appliquer les règles du code de la route, notamment les limitations de vitesse s’appliquant aux jeunes conducteurs ;</li>
					<li>adapter votre conduite dans un souci d’économie de carburant et de limitation de rejet de gaz à effet de serre ;</li>
					<li>faire preuve de courtoisie envers les autres usagers et notamment les plus vulnérables.</li>
				</ul>
				<p>L’évaluation réalisée par l’expert est basée sur des textes réglementaires et instructions précises qui en fixent les modalités. Cette évaluation consiste en un bilan des compétences nécessaires et fondamentales devant être acquises pour une conduite en sécurité, car la conduite est un acte difficile qui engage une responsabilité forte.</p>
				<p>A l’issue de l’épreuve, l’expert retranscrit de façon formelle le bilan de compétences dans une grille d’évaluation. Le Certificat d’Examen du Permis de Conduire, sur lequel est noté le résultat, vous est envoyé par courrier ou téléchargeable.</p>
				<p>En cas de réussite, le CEPC sera votre justificatif auprès des forces de l’ordre en attendant votre permis de conduire. Ce document est valable 4 mois maximum.</p>
				<p>En cas de réussite, vous serez en période probatoire avec 6 points sur votre permis de conduire.
				</p>
			</div>
			<div class="mt-5">
				<h3>Le programme de formation</h3>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Compétences</th>
							<th scope="col">Compétences associées</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">Maîtriser le maniement du véhicule dans un trafic faible ou nul</th>
							<td>
								<ul>
									<li>Connaitre les principaux organes et commandes du véhicule, effectuer des vérifications intérieures et extérieures.</li>
									<li>Entrer, s’installer au poste de conduite et en sortir.</li>
									<li>Tenir, tourner le volant et maintenir la trajectoire.</li>
									<li>Démarrer et s’arrêter.</li>
									<li>Doser l’accélération et le freinage à diverses allures.</li>
									<li>Utiliser la boîte de vitesses.</li>
									<li>Diriger la voiture en avant en ligne droite et en courbe en adaptant allure et trajectoire.</li>
									<li>Regarder autour de soi et avertir.</li>
									<li>Effectuer une marche arrière et un demi-tour en sécurité.</li>
								</ul>
							</td>

						</tr>
						<tr>
							<th scope="row">Appréhender la route et circuler dans des conditions normales</th>
							<td>
								<ul>
									<li>Rechercher la signalisation, les indices utiles et en tenir compte.</li>
									<li>Positionner le véhicule sur la chaussée et choisir la voie de circulation.</li>
                  <li>Adapter l’allure aux situations.</li>
                  <li>Tourner à droite et à gauche en agglomération.</li>
                  <li>Détecter, identifier et franchir les intersections suivant le régime de priorité.</li>
                  <li>Franchir les ronds-points et les carrefours à sens giratoire.</li>
                  <li>S’arrêter et stationner en épi, en bataille et en créneau.</li>
								</ul>
							</td>

						</tr>
						<tr>
							<th scope="row">Circuler dans des conditions difficiles et partager la route avec les autres usagers</th>
							<td>
								<ul>
									<li>Evaluer et maintenir les distances de sécurité.</li>
                  <li>Croiser, dépasser, être dépassé.</li>
                  <li>Passer des virages et conduire en déclivité.</li>
                  <li>Connaître les caractéristiques des autres usagers et savoir se comporter à leur égard, avec respect et courtoisie.</li>
                  <li>S’insérer, circuler et sortir d’une voie rapide.</li>
                  <li>Conduire dans une file de véhicules et dans une circulation dense.</li>
                  <li>Connaître les règles relatives à la circulation inter-files des motocyclistes. Savoir en tenir compte.</li>
                  <li>Conduire quand l’adhérence et la visibilité sont réduites.</li>
                  <li>Conduire à l’abord et dans la traversée d’ouvrages routiers tels que les tunnels, les ponts,….</li>
								</ul>
							</td>

						</tr>
						<tr>
							<th scope="row">Pratiquer une conduite autonome, sûre et économique</th>
							<td>
								<ul>
									<li>Connaître les principaux facteurs de risque au volant et les recommandations à appliquer.</li>
                  <li>Connaître les comportements à adopter en cas d’accident : protéger, alerter, secourir.</li>
                  <li>Faire l’expérience des aides à la conduite du véhicule (régulateur, limiteur de vitesse, ABS, aides à la navigation…).</li>
                  <li>Avoir des notions sur l’entretien, le dépannage et les situations d’urgence.</li>
                  <li>Pratiquer l’écoconduite.</li>

								</ul>
							</td>

						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</section>
{% endblock %}
