{% extends 'front/layout.html.twig' %}

{% block title %}
Handicap information
        
    
{% endblock %}
{% block description %}{% endblock %}

{% block content %}
    {% block banner %}
    <div id="banner-area" class="banner-area" style="background-image:url({{ asset('build/images/handicap_info.png') }}); background-position: 30% 30%;">
      <div class="banner-text">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="banner-heading">
                <h1 class="banner-title">
                  Handicap Information
                </h1>
              </div>
            </div>
          <!-- Col end -->
          </div>
        <!-- Row end -->
        </div>
      <!-- Container end -->
      </div>
    <!-- Banner text end -->
    </div>
  <!-- Banner area end -->

    {% endblock %}
<section class="section-padding">
    <div class="container" style="text-align:justify;">
   <div class="row">
        <p>L’automobile est devenue un outil social indispensable. En effet, la mobilité est indispensable quel que soit son moteur. Que ce soit pour la pratique d’activités loisirs tel que le sport, pour le travail, les études ou pour des raisons familiales, l’utilisation d’un véhicule est devenue indispensable. Ainsi le partage de la chaussée nous concerne tous.</p>

        <p>Rouler en sécurité est donc nécessaire pour tous. Les conducteurs débutants représentent une part importante des tués et des blessés sur la route.</p>
          <p>Les accidents de la route ne sont en aucun cas la conséquence de la fatalité, la chance ou la malchance. Ainsi afin de permettre à nos jeunes conducteurs de se déplacer avec un risque plus faible un nouveau programme de formation a été mis en place.</p>
            <p>Ainsi ce nouveau programme REMC a pour objectif général d’amener tout automobiliste débutant à la maitrise de compétences en termes de savoir-être, savoir-faire et savoir-devenir.</p>
              <p>Un handicap ne doit pas être synonyme d’exclusion, voici tout ce que vous devez savoir.</p>
                <p>Pour se présenter à l’examen pratique du permis de conduire, une personne handicapée doit respecter les conditions suivantes :</p>
                </div>
                  <div class="row mt-3">
                  <div class="col-sm-6">
                  <h3>I/ La visite médicale :</h3>
                    <p>Le rendez-vous est à prendre avec un médecin agréé de la préfecture, qui évaluera votre aptitude à la conduite.
                      Lors de la visite médicale, le CERFA n°14880 est à faire remplir par le médecin agréé.
                      La visite médicale est gratuite dans le cas d’une régularisation pour les personnes présentant un taux d’incapacité égal ou supérieur à 50% décidé par la CDAPH (Commission des Droits et de l'Autonomie des Personnes Handicapées). Si vous êtes dans ce cas, vous n’avez pas à avancer les frais, le médecin se fera régler par la préfecture.
                      </p>
                    </div>
                  <div class="col-sm-6">
                  <h3>II/Apprendre à conduire avec des aménagements :</h3>
                  <p><strong>Si vous êtes apte:</strong> <br>
                      Un certificat  d’aptitude vous sera remis. Vous pourrez alors le présenter à la DDTM : Direction Départementale des Territoires et de la Mer.
                      Vous y rencontrerez les inspecteurs du permis de conduire qui vous conseilleront sur les aménagements de poste de conduite dont vous avez besoin.
                      Puis, vous pourrez apprendre à maîtriser les aménagements auprès d’auto-écoles ayant des voitures adaptées, ou dans le centre de rééducation qui vous accompagne.
                      <br> <br>
                        <strong>Si vous n'êtes pas apte :</strong> <br>
                          Vous pouvez alors faire appel à la commission départementale d'appel.
                      </p>
                    </div>
                    </div>
                    <div class="row mt-3">
                  <h3>III/ L'obtention du permis ou du droit à conduire : </h3>
                    <p><strong>- Dans le cas du passage d’un premier permis de conduire,</strong> il y'a deux étapes : <br>
                    <strong>-Une partie théorique,</strong> commune à tous les candidats au permis.  <br>
                    <strong>-Une partie pratique,</strong> lors de laquelle un inspecteur du permis évaluera vos capacités à conduire, en toute sécurité et en respectant le code de la route, et ce avec les aménagements préconisés. L’examen doit avoir lieu sur une voiture équipée des doubles commandes.
                      <br> <br>
                      <strong>- Dans le cas d’une régularisation du permis :</strong> <br>
                        On entend par régularisation le fait d’évaluer les capacités d’une personne, déjà titulaire du permis, à conduire avec des aménagements. Lors de cette évaluation, un inspecteur vérifie, en situation réelle, la maîtrise des aménagements et leur pertinence en fonction de votre handicap.
Cette régularisation vous redonne le droit de conduire.
L’évaluation peut être passée sur votre propre voiture aménagée ou sur une voiture aménagée d’une auto-école.


                    </p>
                  </div>  
                  <div class="row mt-3">
                  <h3>IV/	L'aquisition d'un véhicule aménagé :</h3>
                    <p>Les aménagements nécessaires sont mentionnés par des codes apposés par la préfecture sur votre permis de conduire. Ils vous permettront de faire adapter votre véhicule chez des équipementiers spécialisés et le cas échéant de bénéficier d’aides financières.</p>
                </div>
                <div class="row mt-3">
              <h3>V/	Les aides au financement :</h3>
                <p>La Prestation de Compensation du Handicap (PCH) est une aide légale qui peut vous être attribuée, sous réserve d’éligibilité. La demande est à faire auprès de la MDPH (Maison Départementale des Personnes Handicapées). Elle pourrait financer en partie les surcoûts liés à :</p>
                  <ul>
                  <li>la visite médicale (dans le cas d’un premier permis uniquement),</li>
                    <li>aux leçons de conduite,</li>
                      <li>aux aménagements du véhicule.</li>
                  </ul>
                  <p>De plus, si un véhicule est nécessaire pour votre projet professionnel, l’AGEFIPH (Association pour la Gestion des Fonds pour l’Insertion Professionnelle des Personnes Handicapées) ou le FIPHFP (Fonds pour l’Insertion des Personnes Handicapées dans la  Fonction Publique) peuvent être sollicités.</p>
                    <p><a href="https://www.mdph35.fr/evenement/romain-barreda-en-marche">-	Télécharger le dossier de demande MDPH</a></p>
                    <p><a href="https://www.agefiph.fr/conseiller-lemploi#ss_article_6">-	Aide à la mobilité AGEFIPH</a></p>
                    <p><a href="http://www.fiphfp.fr/Au-service-des-employeurs/Aides-FIPHFP/Aides-techniques/Vehicules-personnels">-	Aménagement de véhicule FIPHFP</a></p>
              </div>
              <div class="row mt-3">
              <div class="alert alert-info w-50" role="alert">
            <h5>Info pratique :</h5>
              <p><a href="https://www.agefiph.fr/">https://www.agefiph.fr/</a></p>
                <p>Tel : 0 800 11 10 09</p>
            </div>
              </div>
                  
    </div>
  </section>
            {% endblock %}
            