{% extends 'front/layout.html.twig' %}

{% block title %}
Nos engagements


{% endblock %}
{% block description %}{% endblock %}

{% block content %}
	{% block banner %}
		<div id="banner-area" class="banner-area" style="background-image:url({{ asset('build/images/conduite.jpg') }}); background-position: 30% 30%;">
			<div class="banner-text">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="banner-heading">
								<h1 class="banner-title">
									Nos engagements
								</h1>
							</div>
						</div>
						<!-- Col end -->
					</div>
					<!-- Row end -->
				</div>
				<!-- Container end -->
			</div>
			<!-- Banner text end -->
		</div>
		<!-- Banner area end -->

	{% endblock %}
	<section class="section-padding">
		<div class="container">
			<p>Notre établissement d’apprentissage propose une formation de qualité celle-ci ne peut être réalisable que si les deux parties travaillent en toutes confiance et transparence. </p>
			<p>Voici donc ce à quoi nous nous engageons :</p>
			<ol>
				<li>Fournir une documentation détaillée pour chaque prestation demandée, documentation faisant apparaître : tarif, détail de chaque prestation, options possibles, modes de règlement, plan de financement, les horaires des cours théoriques et pratiques.</li>
				<li>Procéder à une évaluation de départ, avec le résultat de cette évaluation de double exemplaire. Un exemplaire remis au candidat au permis de conduire, l’autre restant au sein de l’établissement de formation.</li>
				<li>Procéder à la rédaction dès l’inscription d’un contrat de formation, en double exemplaire. Un exemplaire remis au candidat au permis de conduire, l’autre restant au sein de l’établissement de formation.</li>
				<li>Remise d’un exemplaire du règlement intérieur de l’établissement de formation.</li>
				<li>Remise d’un kit pédagogique, comprenant un livre de code de la route, d’un pack web et livret d’apprentissage pour le suivi de la formation pratique.</li>
				<li>Mise à disposition la synthèse de l’assiduité ainsi que les résultats (code de la route) afin que le candidat ou le responsable légal puisse suivre son évolution.</li>
				<li>Utilisation d’une fiche de suivi pratique, consultable à tout moment par le candidat ou le représentant légal.</li>
				<li>Mise à disposition des véhicules répondant aux normes de l’apprentissage de la conduite. Véhicules en parfait état (propreté, mécanique, …).</li>
				<li>Mise à disposition de cours théoriques et pratiques uniquement réalisés par des enseignants de la conduite diplômés d’Etat et disposant d’une autorisation d’enseigner en cours de validité. </li>
				<li>Réaliser l’ensemble des démarches administratives nécessaires aux passages des différents examens.</li>
				<li>Réaliser et remettre aux différents candidats les bilans de compétences leurs permettant de connaitre le niveau atteint et à atteindre au vu d’un passage en examen.</li>
				<li>Présenter les élèves aux examens pratiques dès lors que le niveau requis par le Plan national de formation REMC est atteint, toutes les compétences validées, en respectant le nombre d’heures minimum obligatoire et en fonction des places attribuées à l’établissement par les services Préfectoraux.</li>
				<li>A régler à l’amiable les litiges ou si nécessaire par l’intermédiaire d’un médiateur (coordonnées disponibles sur demande).</li>
				<li>Avoir souscrit un dispositif garantie financière.</li>
				<li>Proposer un Rendez-vous Post Permis à l’issue de l’obtention du permis.</li>
				<li>Mettre à disposition sur demande : <br>
					<ul>
					<li>-	Documentation sur les enjeux de la formation préparatoire à l’examen du permis de conduire (sur le site).</li>
						<li>-	La liste des enseignants, leurs diplômes et leurs fonctions.</li>
							<li>-	Un règlement intérieur (sur le site, et au sein de l’établissement).</li>
							<li>-	La traçabilité de l’assiduité de la formation.</li>
							<li>-	Suivi pédagogique des élèves et litiges.</li>
							<li>-	Un parcours pédagogique avec cours, tests (code) et apprentissage progressif des différentes situations suivant le REMC (conduite).</li>
								<li>-	Utilisation du livret d’apprentissage détenu par l’élève.</li>
									<li>-	Une documentation détaillée sur les avantages de la conduite accompagnée et de la conduite supervisée.</li>
									<li>-	Les taux de réussites (par filière, AAC, Conduite supervisée ou traditionnelle), ainsi que le nombre d’heures moyen en 1ère présentation.</li>

									<li>-	Les questionnaires de satisfaction.</li>
										<li>-	Coordonnées d’un médiateur en cas de litiges.</li>
					</ul></li>
					<li>Remise d’un questionnaire de satisfaction à chaque élève ayant réussi l’examen du permis, les questionnaires sont étudiés afin de mettre en place un processus d’amélioration continu.</li>

			</ol>
		</div>
	</section>
{% endblock %}
