{% extends 'front/layout.html.twig' %}

{% block title %}
    Permis AM
        
    
{% endblock %}
{% block description %}{% endblock %}

{% block content %}
    {% block banner %}
    <div id="banner-area" class="banner-area" style="background-image:url({{ asset('build/images/permis-A2.jpg') }}); background-position: 30% 30%;">
      <div class="banner-text">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="banner-heading">
                <h1 class="banner-title">
                  Permis A2
                </h1>
              </div>
            </div>
          <!-- Col end -->
          </div>
        <!-- Row end -->
        </div>
      <!-- Container end -->
      </div>
    <!-- Banner text end -->
    </div>
  <!-- Banner area end -->

    {% endblock %}

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <h2>Tarif</h2>
        </div>

        <div class="row justify-content-center">

          <div class="col-lg-8 col-md-6">
            <div class="box">
              <h3 class="text-uppercase">FORMULE A2 20h correspondant au minimum réglementaire</h3>
              <h4>890€ TTC</h4>
              <ul>
                <li>1 Frais administratifs <br><small>(Toutes démarches nécessaires : création, modification, mise à jour de dossier, gestion interne, programmation, suivi, etc…)</small></li>
                <li>1 Pochette pédagogique B <br><small>(fiche de suivi + livre de code + livret d’apprentissage)</small></li>
                <li>20 Leçons de conduite, 8 leçons de plateau et 12 leçons de circulation  <br><small>(validité 1 an à partir de l’inscription) </small></li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Pricing Section -->
    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">
        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Prestations supplémentaires <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse" data-bs-parent=".faq-list">
                <table class="table table-hover">
                <tbody>
                  <tr>
                  <td>Frais d’accompagnement à l’examen pratique</td>
                  <td>50€</td>
                </tr>
                <tr>
                  <td>Leçon de conduite boîte mécanique</td>
                  <td>50€</td>
                </tr>
                <tr>
                  <td>Redevance code</td>
                  <td>30€</td>
                </tr>
                <tr>
                  <td>Evaluation de départ	</td>
                  <td>50€</td>
                </tr>

                  </tbody>
                </table>
                <p>Les prix s’entendent TTC sous réserve du maintien des conditions réglementaires et tarifaires au moment de l’exécution des prestations.</p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Pièces à fournir <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
            <p>4 photos d'identité (e-photo)</p>
            <p>Photocopie recto-verso de la pièce d'identité</p>
            <p>Journée d'appel à la défense (pour les -25ans)</p>
            <p>Attestation recensement (pour les -18 ans)</p>
            <p>ASSR2 si né à partir de 1988</p>
            <p>Justificatif de domicile de moins de 3 mois à votre nom (sinon attestation hébergement et pièce d'identité hébergeur)</p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Facilités de paiement <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <h3 class="mt-3">Payable en 2 échéances sans frais</h3>
                <p>490 € à l’inscription</p>
                <p>400 € à la 10ème leçon</p>


              </div>
            </li>
            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Equipements obligatoires <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>Casque</p>
                <p>Gants</p>
                <p>Blouson</p>
                <p>Chaussures semi montantes</p>
              </div>
            </li>



          </ul>
        </div>

      </div>


            {% endblock %}
            