{% extends 'front/layout.html.twig' %}

{% block title %}
	Programme de formation


{% endblock %}
{% block description %}{% endblock %}

{% block content %}
	{% block banner %}
		<div id="banner-area" class="banner-area" style="background-image:url({{ asset('build/images/conduite.jpg') }}); background-position: 30% 30%;">
			<div class="banner-text">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="banner-heading">
								<h1 class="banner-title">
									Programme de formation


								</h1>
							</div>
						</div>
						<!-- Col end -->
					</div>
					<!-- Row end -->
				</div>
				<!-- Container end -->
			</div>
			<!-- Banner text end -->
		</div>
		<!-- Banner area end -->

	{% endblock %}
	<section class="section-padding">
		<div class="container">
			<h2>PROGRAMME DES COURS DE CODE DE LA ROUTE</h2>
			<br>
			<h5>Les Moyens pédagogiques :</h5>

			<p>Notre établissement d’apprentissage propose un accompagnement personnalisé et des plannings adaptés à chaque candidat, tant au code de la route qu’en conduite.</p>
			<h5>Matériels pédagogiques :</h5>
			<p>Salle de code, téléviseur, DVD code (Rousseau, Ediser, Planet Permis), Box pédagogique, livre de code, Pack web, lecteur DVD, MAGISTRO, livret d’apprentissage, bilan de compétence, site internet.</p>
			<p>Un suivi de compétence et de résultat en salle et sur internet est possible pour le candidat et ses représentants légaux.</p>
			<h5>Les Thèmes :</h5>
			<ul>
				<li>L’USAGER :</li>
			</ul>
			<p>C – Le conducteur : La vigilance à l’égard des autres usagers, les intervalles de sécurité, les déficiences des fonctions perceptives du conducteur.</p>
			<p>U – Les autres usagers de la route : La vigilance à l’égard des usagers vulnérables et autres usagers de la route. Partage de la route.</p>
			<p>D – La responsabilité : Les différents documents administratifs liés au véhicule, le permis probatoire, les principales infractions, comportement en cas d’accident, législation en matière d’accident.</p>
			<br><br>
			<ul>
				<li>LE VEHICULE :</li>
			</ul>
			<p>M – Eléments mécaniques et sécurité : Connaissance des principaux organes, commandes et dysfonctionnements les plus courants, contrôle technique.</p>
			<p>S – Equipement de sécurité des véhicules : L’installation sécurisée enfants et passagers, équipements de sécurité du véhicule (ESP, ABS, AFU, REGULATEUR, LIMITEUR, GPS).</p>
			<p>D – Précautions à prendre : Prendre et quitter son véhicule, l’installation au poste de conduite.</p>
			<br><br>
			<ul>
				<li>LA ROUTE :</li>
			</ul>
			<p>L – Règles de circulation routière : La signalisation routière et règles de circulation, la vitesse, positionnement sur la chaussée, l’arrêt et le stationnement, le croisement et le dépassement.</p>
			<p>R – La route : Réglementation et comportements visibilité et adhérences réduites (jour/nuit), tunnels, chantiers. La règlementation et les comportements de conduite sur voies rapides et autoroutes.</p>

			<br><br>
			<ul>
				<li>L’ENVIRONNEMENT :</li>
			</ul>
			<p>E – L’environnement : Règles d’utilisation du véhicule en relation avec le respect de l’environnement : les principes de l’éco conduite, les modes de déplacements alternatifs aux déplacements individuels.</p>


		</div>
	</section>
{% endblock %}
