{% extends 'front/layout.html.twig' %}

{% block title %}
    Réglement intérieur
    
    
    
{% endblock %}
{% block description %}{% endblock %}

{% block content %}
    {% block banner %}
        <div id="banner-area" class="banner-area" style="background-image:url({{ asset('build/images/conduite.jpg') }}); background-position: 30% 30%;">
            <div class="banner-text">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="banner-heading">
                                <h1 class="banner-title">
                                    Réglement intérieur
                                    								
                                </h1>
                            </div>
                        </div>
                    <!-- Col end -->
                    </div>
                <!-- Row end -->
                </div>
            <!-- Container end -->
            </div>
        <!-- Banner text end -->
        </div>
    <!-- Banner area end -->

    {% endblock %}
    <section class="section-padding">
        <div class="container">
            <div class="alert alert-primary" role="alert">
                <h4>
                    Ce règlement a pour objet de définir les règles relatives à l’hygiène, à la sécurité ainsi qu’à la discipline nécessaire au bon fonctionnement de l’établissement. Il est applicable à l’ensemble des élèves.
                </h4>
            </div>
			<p> <strong> Article 1 :</strong> L’auto-école Bobigny applique les règles d’enseignement selon les lois en vigueur notamment l’arrêté ministériel relatif au référentiel pour l’éducation à une motricité citoyenne (REMC) en vigueur depuis le 01/07/2014. </p>
				<hr>
				<p> <strong> Article 2 :</strong> Tous les élèves inscrits au sein de l’établissement auto-école Bobigny doivent respecter les conditions de fonctionnement de l’auto-école sans restriction, à savoir : 
				<ul>
				<li>Respect envers le personnel de l’établissement, respect du matériel mis à sa disposition, respect des locaux. (Propreté, dégradation)</li>
				<li>Les élèves sont tenus de ne pas fumer à l’intérieur de l’établissement, dans les véhicules, ni de consommer ou d’avoir consommé des substances incompatibles avec  la conduite d’un véhicule.</li>
				<li>Il est interdit d’utiliser des appareils sonores (téléphone portable) pendant les séances de code et les heures de conduite. Les élèves se doivent de respecter les horaires de code afin de ne pas perturber le bon déroulement de la séance. De même les élèves devront s’abstenir de parler en salle de code.</li>
				<li>Respecter les règles d’évacuations des locaux en cas d’alarme et rejoindre le point extérieur de rassemblement en cas d’évacuation.</li>
				</ul></p>

				<hr>
				<p> <strong> Article 3 :</strong> Tout élève présentant une inaptitude à la conduite se verra opposer le droit de retrait. La leçon sera alors annulée et facturée. </p>
					<hr>
					<p> <strong> Article 4 :</strong> Toute personne n’ayant pas constitué de dossier d’inscription et réglé le 1er versement se verra refuser l’accès à la salle de code. Lors de la séance de code, il est demandé à l’élève de rester jusqu’à la fin des corrections, même si celle-ci, quand les sont effectuées par l’enseignant, débordent un peu des horaires. Il est essentiel d’écouter et de comprendre les réponses. </p>
						<hr>
						<p> <strong> Article 5 : </strong> Toute leçon de conduite non décommandée 48 heures à l’avance jour ouvré (sauf cas de motif légitime) après validation de la direction sera facturée. Aucune leçon ne peut être décommandée à l’aide du répondeur ou mail, les annulations doivent être faites pendant les heures d’ouverture du bureau.</p>
						<hr>
						<p> <strong> Article 6 : </strong> Les téléphones portables doivent être éteints pendant les leçons de code et conduite.</p>
						<hr>
						<p> <strong> Article 7 : </strong> Dès l’attribution du numéro NEPH, il sera remis à l’élève son livret d’apprentissage. Sa présence est obligatoire pour toute leçon de conduite. En cas de non présentation du livret aux forces de l’ordre, les conséquences éventuelles seront imputables à l’élève.</p>
						<hr>
						<p> <strong> Article 8 : </strong>En générale, une leçon se décompose comme ceci : 5 minutes sont requises pour l’installation au poste de conduite et déterminer l’objectif de travail 45 minutes de conduite effective / 5 minutes pour faire le bilan de la leçon, tenir à jour le suivi de la formation de l’élève au bureau. Ce déroulement peut varier en fonction d’élément extérieur (bouchon ou autres) et / ou des choix pédagogiques de l’enseignant de la conduite et de la sécurité routière.</p>
						<hr>
						<p> <strong> Article 9 : </strong>Aucune présentation à l’examen pratique ne sera faite si le solde du compte n’est pas réglé une semaine avant la date de l’examen.</p>
						<hr>
						<p> <strong> Article 10 : </strong>Tout manquement de l’élève à l’une des dispositions du présent règlement intérieur pourra, en fonction de sa nature et de sa gravité, faire l’objet d’une des sanctions ci-après désignées par ordre d’importance :
						<ul>
						<li>Avertissement Oral</li>
							<li>Avertissement Ecrit</li>
								<li>Suspension provisoire</li>
									<li>Exclusion définitive de l’établissement</li>

						</ul></p>
						<hr>				
						<p> <strong> Article 11 : </strong>Le responsable de l’établissement peut décider d’exclure un élève à tout moment du cursus de formation de l’auto-école pour les motifs suivants :
						<ul>
							<li>Non-paiement.</li>
								<li>Attitude empêchant la réalisation du travail de formation.</li>
									<li>Non-respect du présent règlement intérieur.</li>
					</ul>
						</p>
						<p>Le responsable de l’établissement avisera par courrier en lettre recommandé si aucune autre solution ne s’avère possible 10 jours après la décision d’exclure.</p>
							<p>La direction de l’Auto-école Bobigny est heureuse de vous accueillir parmi ses élèves et vous souhaite une excellente formation.</p>
						
        </div>
    </section>
{% endblock %}
